.button-common-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    padding: .1rem .2rem;
    border-radius: .05rem;
    transition: .4s;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: Manrope, sans-serif;
}

.button-common-primary .button-wrapper {
    color: var(--color-primary);
    transition: .4s;
    font-size: var(--font-size-default);
    font-weight: 700;
}

.button-common-primary:hover {
    background-color: var(--color-default);
}

.button-common-primary:hover .button-wrapper {
    color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
    .button-common-primary .button-wrapper {
        font-size: 16px;
    }
}
