.button-common-primary {
    display: flex;
    align-items: center;
    background-color: #f84646;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}

.button-common-primary .button-wrapper {
    color: #fff;
    transition: .4s;
}

.button-common-primary:hover {
    background-color: #000;
}

.button-common-primary:hover .button-wrapper {
    color: #f84646;
}