.footer {
  background-color: var(--color-quaternary);
  font-size: var(--font-size-default);
  font-family: Inter, sans-serif;
  width: 100%;
}

.footer-wrapper {
  padding: 0 .2rem .77rem;
  margin: 0 auto;
}

.footer-navigation {
  padding: .8rem 0 .3rem;
}

.footer-navigation .navigation-item:not(:last-child) {
  margin-bottom: .5rem;
}

.footer-navigation .navigation-title {
  color: var(--color-primary);
  font-weight: 700;
  margin-bottom: .24rem;
}

.footer-navigation .navigation-list .list-item:not(:last-child) {
  margin-bottom: .24rem;
}

.footer-navigation .navigation-list .list-item {
  transition: .4s;
}

.footer-navigation .navigation-list .item-link {
  color: var(--color-tertiary);
  font-weight: 400;
  transition: .4s;
}

.footer-navigation .navigation-list .list-item:hover {
  opacity: .8;
}

.footer-media {
  margin-bottom: .62rem;
}

.media-list {
  display: flex;

}

.media-list .list-item {
  width: .32rem;
  height: .32rem;
  transition: opacity .4s;
  cursor: pointer;
}

.media-list .list-item:hover {
  opacity: .8;
}

.media-list a {
  display: block;
  width: 100%;
  height: 100%;
}

.media-list .list-item:not(:last-child) {
  margin-right: .16rem;
}

.media-list .is-icon {
  background: url("/src/assets/images/sp/icon_top_media.webp") 0rem 0rem/cover no-repeat;
}

.media-list .is-linkedin {
  background: url("/src/assets/images/sp/icon_top_media.webp") -.47rem 0rem/cover no-repeat;
}

.media-list .is-twitter {
  background: url("/src/assets/images/sp/icon_top_media.webp") -.94rem 0rem/cover no-repeat;
}

.media-list .is-instagram {
  background: url("/src/assets/images/sp/icon_top_media.webp") -1.4rem 0rem/cover no-repeat;
}

.media-list .is-facebook {
  background: url("/src/assets/images/sp/icon_top_media.webp") -1.87rem 0rem/cover no-repeat;
}

.footer-copyright {
  color: var(--color-primary);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    max-width: 906px;
    padding-bottom: 70px;
  }

  .footer-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-navigation .navigation-item:not(:last-child) {
    margin-right: .4rem;
  }

  .footer-infor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer-media {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1025px) {
  .footer-wrapper {
    max-width: 1238px;
    padding-bottom: 70px;
  }
}
