.footer {
  background-color: var(--color-quaternary);
  font-size: var(--font-size-default);
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.footer .footer-wrapper {
  padding: 0 1.25rem 4.8125rem;
  margin: 0 auto;
}

.footer .footer-navigation {
  padding: 5rem 0 1.875rem;
}

.footer .navigation-item:not(:last-child) {
  margin-bottom: 3.125rem;
}

.footer .navigation-title {
  color: var(--color-primary);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer .navigation-list li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer .navigation-list li a {
  color: var(--color-tertiary);
  font-weight: 400;
  transition: .4s;
}

.footer .navigation-list li a:hover {
  opacity: .8;
}

.footer .footer-media {
  margin-bottom: 3.875rem;
}

.footer .media-list {
  display: flex;

}

.footer .media-list li {
  width: 2rem;
  height: 2rem;
  transition: .4s;
  cursor: pointer;
}

.footer .media-list li:hover {
  opacity: .8;
}

.footer .media-list a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer .media-list li:not(:last-child) {
  margin-right: 1rem;
}

.footer .media-list .is-icon {
  background: url("/src/assets/images/sp/icon_top_media.png") 0px 0px;
}

.footer .media-list .is-linkedin {
  background: url("/src/assets/images/sp/icon_top_media.png") -47px 0px;
}

.footer .media-list .is-twitter {
  background: url("/src/assets/images/sp/icon_top_media.png") -97px 0px;
}

.footer .media-list .is-instagram {
  background: url("/src/assets/images/sp/icon_top_media.png") -143px 0px;
}

.footer .media-list .is-facebook {
  background: url("/src/assets/images/sp/icon_top_media.png") -193px 0px;
}

.footer .footer-copyright {
  color: var(--color-primary);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer .footer-wrapper {
    max-width: 906px;
    padding-bottom: 4.375rem;
  }

  .footer .footer-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer .footer-navigation .navigation-item:not(:last-child) {
    margin-right: 2.5rem;
  }

  .footer .footer-infor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer .footer-media {
    margin-bottom: 0;
  }
}