.header-wrapper {
  text-align: center;
  padding: 0.9375rem 1.25rem;
  display: flex;
  justify-content: space-between;
}

.header-wrapper .header-navigation {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 98;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  display: block;
  transition: 0.4s;
}

.header-wrapper .header-navigation.is-active {
  right: 0;
}

.header-wrapper .navigation-list {
  margin-bottom: 3.125rem;
  list-style: none;
  margin-bottom: 0;
  padding: 100px 0;
}

.header-wrapper .navigation-list li {
  width: 70%;
  height: 1.875rem;
  margin: 0 auto;
}

.header-wrapper .navigation-list li:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header-wrapper .navigation-list li a {
  color: #000;
  transition: 0.4s;
  width: 100%;
}
.header-wrapper .navigation-list li a:hover {
  color: #f84646;
}

.hamburger {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  position: relative;
  z-index: 100;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 30px;
  background-color: #000;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 5px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-6px, -3px);
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    justify-content: flex-end;
  }
  .header-wrapper .header-navigation {
    position: initial;
    margin-right: 2.5rem;
  }
  .hamburger {
    display: none;
  }
  .header-wrapper .navigation-list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
  .header-wrapper .navigation-list li {
    display: flex;
    width: max-content;
    padding: 10px 20px;
    margin: 0;
    align-items: center;
  }
  .header-wrapper .navigation-list li:not(:last-child) {
    margin-bottom: 0;
  }
}
