.title-common-primary {
  color: var(--color-default);
  font-weight: 800;
  font-size: 2.25rem;
  margin-bottom: .9375rem;
}

@media screen and (min-width: 768px) {
  .title-common-primary {
    font-size: 3rem;
  }
}
