<footer class="footer">
  <div class="wrapper">
    <nav class="footer-navigation">
      <div class="navigation-item">
        <h2 class="navigation-title">Çözüm ve Hizmetler</h2>
        <ul class="navigation-list">
          <li class="list-item"><a class="item-link" href="#">Yazılım Geliştirme</a></li>
          <li class="list-item"><a class="item-link" href="#">Outsourcing</a></li>
          <li class="list-item"><a class="item-link" href="#">Kalite ve Süreç Yönetimi</a></li>
          <li class="list-item"><a class="item-link" href="#">Danışmanlık</a></li>
          <li class="list-item"><a class="item-link" href="#">IoT Destekli Çözümler</a></li>
        </ul>
      </div>
      <div class="navigation-item">
        <h2 class="navigation-title">Ürünler</h2>
        <ul class="navigation-list">
          <li class="list-item"><a class="item-link" href="#">Eğitim Yönetim Sistemi</a></li>
          <li class="list-item"><a class="item-link" href="#">İnsan Sermayesi Yönetim Sistemi</a></li>
          <li class="list-item"><a class="item-link" href="#">Müşteri İlişkileri Yönetim Sistemi</a></li>
          <li class="list-item"><a class="item-link" href="#">İçerik Yönetim Sistemi</a></li>
        </ul>
      </div>
      <div class="navigation-item">
        <h2 class="navigation-title">Kurumsal</h2>
        <ul class="navigation-list">
          <li class="list-item"><a class="item-link" href="#">Hakkımızda</a></li>
          <li class="list-item"><a class="item-link" href="#">Belge ve Yetkinlikler</a></li>
          <li class="list-item"><a class="item-link" href="#">İş Ortakları</a></li>
        </ul>
      </div>
      <div class="navigation-item">
        <h2 class="navigation-title">İletişim</h2>
        <ul class="navigation-list">
          <li class="list-item"><a class="item-link" href="#">Bilgi İstek Formu</a></li>
          <li class="list-item"><a class="item-link" href="#">Uzman Talep Formu</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-infor">
      <div class="footer-media">
        <ul class="media-list">
          <li class="list-item is-icon"><a href="#"></a></li>
          <li class="list-item is-linkedin"><a href="#"></a></li>
          <li class="list-item is-twitter"><a href="#"></a></li>
          <li class="list-item is-instagram"><a href="#"></a></li>
          <li class="list-item is-facebook"><a href="#"></a></li>
        </ul>
      </div>
      <div class="footer-copyright">
        <small class="copyright-text">&copy; Copyright 2010-2021 - Can Çevik</small>
      </div>
    </div>
  </div>
</footer>
