<header>
  <div class="header-wrapper">
    <nav class="header-navigation mobile-nav">
      <div class="navigation-wrapper">
        <ul class="navigation-list">
          <li class="list-item"><a href="javascript:void(0)">Çözüm ve Hizmetler</a></li>
          <li class="list-item"><a href="javascript:void(0)">Ürünler</a></li>
          <li class="list-item"><a href="javascript:void(0)">Teknolojiler</a></li>
          <li class="list-item"><a href="javascript:void(0)">İnsan Kaynakları</a></li>
          <li class="list-item"><a href="javascript:void(0)">Kurumsal</a></li>
        </ul>
      </div>
    </nav>
    <div class="button-menu">
      <span class="menu-bar"></span>
    </div>
    <include src="./components/button.html" locals='{"text": "İletişim"}'></include>
  </div>
</header>
