<header class="header">
  <div class="wrapper">
    <nav class="header-navigation mobile-nav">
      <div class="navigation-wrapper">
        <ul class="navigation-list">
          <li class="list-item"><a href="#">Çözüm ve Hizmetler</a></li>
          <li class="list-item"><a href="#">Ürünler</a></li>
          <li class="list-item"><a href="#">Teknolojiler</a></li>
          <li class="list-item"><a href="#">İnsan Kaynakları</a></li>
          <li class="list-item"><a href="#">Kurumsal</a></li>
        </ul>
      </div>
    </nav>
    <div class="button-menu">
      <span class="menu-bar"></span>
    </div>
    <include src="./components/button.html" locals='{"text": "İletişim"}'></include>
  </div>
</header>
