<div class="info-blog">
  <figure class="blog-thumbnail is-mobile">
    <img class="thumbnail-item" src={{image}} width="335" height="312" loading="lazy" alt={{title}}>
  </figure>
  <div class="blog-content">
    <h2 class="title-primary">{{title}}</h2>
    <p class="detail-primary">{{detail}}</p>
    <a class="button-primary" href="#">Keşfet</a>
  </div>
  <figure class="blog-thumbnail is-desktop ">
    <img class="thumbnail-item" src={{image}} width="504" height="408" loading="lazy" alt={{title}}>
  </figure>
</div>
