<div class="info-blog">
  <figure class="blog-thumbnail is-mobile">
    <img src={{image}} width="335" height="312" loading="lazy" alt={{title}}>
  </figure>
  <div class="blog-content">
    <h2 class="title-common-primary">{{title}}</h2>
    <p class="detail-common-primary">{{detail}}</p>
    <a class="button-common-primary" href="javascript:void(0)">
      <span class="button-wrapper">Keşfet</span>
    </a>
  </div>
  <figure class="blog-thumbnail is-desktop ">
    <img src={{image}} width="504" height="408" loading="lazy" alt={{title}}>
  </figure>
</div>
