<section class="section-top-keyvisual">
  <picture class="keyvisual-background">
    <source media="(min-width: 768px)" srcset="./assets/images/img_top_keyvisual.jpg.webp">
    <img src="./assets/images/sp/img_top_keyvisual.jpg.webp" loading="eager" alt="Bilgi Teknolojilerinde 23 Yıllık Tecrübe">
  </picture>
  <div class="wrapper">
    <div class="keyvisual-content">
      <h1 class="keyvisual-title">Bilgi Teknolojilerinde 23 Yıllık Tecrübe</h1>
      <p class="keyvisual-detail">Müşterilerimizin yüksek kalite seviyelerini koruyabilmeleri için farklı sektörlerde tecrübe kazanmış uzman kadrolarımızla Proje Yönetimi, İş Analizi ve Test Yönetimihizmetleri sunmaktayız.</p>
      <form action="POST" class="keyvisual-register">
        <input type="email" class="register-input" placeholder="Mail bültenimize kayıt ol">
        <button type="submit" onclick="alert('This feature is in development')" class="button-primary">Kayıt Ol</button>
      </form>
    </div>
  </div>
</section>
