<section class="section-top-provide">
  <div class="wrapper">
    <div class="provide-heading">
      <h2 class="title-primary">Test Yönetimiyle Neler Sağlıyoruz?</h2>
      <p class="detail-primary">IoT Destekli Çözümler</p>
    </div>
    <ul class="provide-list">
      <li><p class="provide-detail">Yazılım Kalitesini Arttırıyoruz</p></li>
      <li><p class="provide-detail">Olası Hataları Önceden Belirliyoruz</p></li>
      <li><p class="provide-detail">Oluşabilecek Riskleri Önlüyoruz</p></li>
      <li><p class="provide-detail">Zaman ve Maliyetten Tasarruf Sağlıyoruz</p></li>
    </ul>
  </div>
</section>
