.section-top-keyvisual {
  position: relative;
  z-index: 10;
  padding: 1.37rem 0;
  margin-top: -.66rem;
}

.section-top-keyvisual .keyvisual-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-top-keyvisual .keyvisual-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-top-keyvisual .keyvisual-title {
  font-size: 0.42rem;
  color: var(--color-default);
  line-height: calc(57.5 / 42);
  font-weight: 800;
  text-align: center;
  margin-bottom: .3rem;
}

.section-top-keyvisual .keyvisual-detail {
  font-size: .12rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: .42rem;
  line-height: calc(23 / 12);
}

.section-top-keyvisual .keyvisual-register {
  display: flex;
  background-color: var(--color-primary);
  width: 90%;
  margin: 0 auto;
  padding: .06rem .06rem .06rem .2rem;
  border-radius: .08rem;
  justify-content: space-between;
}

.section-top-keyvisual .keyvisual-register .button-common-primary {
  border-radius: .08rem;
}

.section-top-keyvisual .register-input {
  width: 100%;
  box-sizing: border-box;
  margin-right: .1rem;
}

.section-top-keyvisual .is-desktop {
  display: none;
}

.section-top-keyvisual .register-input, .register-input::placeholder {
  font-size: .14rem;
  color: rgba(0,0,0,.4);
}

@media screen and (max-width: 374px) {
  .section-top-keyvisual .keyvisual-title {
    font-size: .32rem;
  }
}

@media screen and (min-width: 768px) {
  .section-top-keyvisual {
    margin-top: -5rem;
    padding: 161px 0 127px;
  }

  .section-top-keyvisual .is-mobile {
    display: none;
  }

  .section-top-keyvisual .is-desktop {
    display: block;
  }

  .section-top-keyvisual .keyvisual-content {
    width: 665px;
  }

  .section-top-keyvisual .keyvisual-title {
    font-size: .56rem;
    text-align: left;
    margin-bottom: 20px;
    line-height: calc(73.5 / 56);
  }

  .section-top-keyvisual .keyvisual-detail {
    text-align: left;
    font-size: --font-size-default;
    margin-bottom: 20px;
  }

  .section-top-keyvisual .keyvisual-register {
    width: calc( 422px - 26px);
    height: calc(73px - 12px);
    margin: 0;
  }

  .section-top-keyvisual .register-input, .register-input::placeholder {
    font-size: --font-size-default;
  }

  .section-top-keyvisual .keyvisual-register .button-common-primary {
    width: 136px;
    
  }
}

@media screen and (min-width: 1025px) {
  .section-top-keyvisual {
    padding: 200px 0 148px;
  }

  .section-top-keyvisual .keyvisual-title {
    font-size: 4rem;
    line-height: calc(82 / 64);
  }

  .section-top-keyvisual .keyvisual-detail {
    font-size: .2rem;
    margin-bottom: 50px;
    line-height: calc(36 / 20);
  }

  .section-top-keyvisual .keyvisual-register {
    width: calc( 502px - 26px);
  }
}
