.section-top-manage {
  text-align: center;
}

.section-top-manage .wrapper {
  padding-top: 3.75rem;
}

.section-top-manage .title-common-primary {
  font-size: 1.5rem;
}



@media screen and (min-width: 768px) {
  .section-top-manage .wrapper {
    padding-top: 7.5rem;
  }
  

  .section-top-manage .title-common-primary {
    font-size: 2.25rem;
  }

  .section-top-manage .detail-common-primary {
    max-width: 994px;
    margin: 0 auto 90px;
  }

  
}

