.section-top-manage {
  text-align: center;
}

.section-top-manage .wrapper {
  padding-top: .6rem;
}

.section-top-manage .title-common-primary {
  font-size: .24rem;
}



@media screen and (min-width: 768px) {
  .section-top-manage .wrapper {
    padding-top: 120px;
  }


  .section-top-manage .title-common-primary {
    font-size: .36rem;
  }

  .section-top-manage .detail-common-primary {
    max-width: 994px;
    margin: 0 auto 90px;
  }
}
