.section-top-provide {
  background: var(--color-secondary) url("../../assets/images/sp/background_top_provide.jpg.webp") left/cover no-repeat;
  color: var(--color-primary);
  padding: .5rem 0 .84rem;
}

.provide-heading {
  text-align: center;
}

.section-top-provide .title-primary {
  color: var(--color-primary);
  font-size: .36rem;
  line-height: calc(47 / 36);
  margin-bottom: .1rem;
}

.section-top-provide .detail-primary {
  color: var(--color-primary);
  font-size: .14rem;
  margin-bottom: .55rem;
}

.provide-list {
  text-align: center;
}

.provide-list li {
  position: relative;
  font-size: .18rem;
  font-weight: 700;
  width: 1.84rem;
  margin: 0 auto;
}

.provide-list li:not(:last-child) {
  margin-bottom: 1.15rem;
}

.provide-list li:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  background: url("../../assets/icons/icon_arrow_01.svg") center/cover no-repeat;
  width: .36rem;
  height: .36rem;
  top: .7rem;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .section-top-provide {
    padding: 35px 0 0;
    background-image: url("../../assets/images/background_top_provide.jpg.webp");
  }

  .section-top-provide .title-primary {
    font-size: .48rem;
    line-height: calc(64 / 48);
  }

  .section-top-provide .detail-primary {
    font-size: .18rem;
    line-height: calc(32 / 18);
  }

  .provide-list {
    display: flex;
    flex-wrap: wrap;
  }

  .provide-list li {
    width: calc((100% - 100px) / 4);
    text-align: left;
    font-size: .14rem;
    line-height: calc(21.5 / 14);
  }

  .provide-list li:not(:last-child) {
    margin-right: 32px;
  }

  li:not(:last-child) .provide-detail {
    padding-right: 60px;
  }

  .provide-list li:not(:last-child)::after {
    transform: translateX(-50%) rotate(-90deg);
    top: 50%;
    right: 10px;
    width: 28px;
    height: 28px;
    left: initial;
    transform: translateY(-50%) rotate(-90deg);
  }
}

@media screen and (min-width: 1025px) {
  .provide-list {
    max-width: 1088px;
    margin: 0 auto;
  }

  .provide-list li {
    width: calc((100% - 124px) / 4);
  }

  .provide-list .provide-detail {
    font-size: .18rem;
  }

  .provide-list li:not(:last-child) {
    margin-right: 40px;
  }

  .provide-list li:not(:last-child)::after {
    width: 28px;
    height: 28px;
    right: 5px;
  }
}
