:root {
  /* color */
  --color-default: #000;
  --color-primary: #fff;
  --color-secondary: #b10707;
  --color-tertiary: #e6e6e6;
  --color-quaternary: #b1070c;

  /* font-size */
  --font-size-default: .16rem;

  /* font-family */
  --font-manrope: Manrope, sans-serif;
  --font-inter: Inter, sans-serif;

  /* width responsive */
  --width-tablet: 768px;
  --width-desktop: 1024px;

  /* wrapper */
  --width-wrapper-tablet: 906px;
  --width-wrapper-desktop: 1197px;
}
